.width-half {
  width: 50%
}

.max-width-500 {
  max-width: 500px
}

.max-width-600 {
  max-width: 600px
}

.sidebar__right { margin-bottom: 2em; }

.additional-info {
  background-color: #f9f9f9;
  font-size: 0.7em;
  /* Remove the border added by blockquote */
  border: none;
  /* Reset the cursive text style */
  font-style: normal;
}